<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teeza.application.helpme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- GCM connects to Internet Services. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
     <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="teeza.application.helpme.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="teeza.application.helpme.permission.C2D_MESSAGE" />
    
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    
    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- Required permission to check licensing. -->
    <!--  <uses-permission android:name="com.android.vending.CHECK_LICENSE" /> -->

    <uses-feature android:name="android.hardware.camera" >
    </uses-feature>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" 
        android:name="teeza.application.helpme.Controller"  >

        <!--
             <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCSkJB7keaPlgHeQpcbV5pe6YaMTR7WhbQ" />
        -->
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8-vdyVbHJUl3HDl9NgM6G74Zp4UXJCQM" />
        
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="teeza.application.helpme.Main_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyTheme" >
        </activity>
        
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="teeza.application.helpme" />
            </intent-filter>
        </receiver>
        
         <service android:name="teeza.application.helpme.GCMIntentService" />
        
        <activity
            android:name="teeza.application.helpme.Login_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.DELETE" />
				<category android:name="android.intent.category.DEFAULT" />  
				<data android:scheme="com.idrivecare.familypro" />
			</intent-filter>
        </activity>
        
        <activity
            android:name="teeza.application.helpme.Gallery_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.EClaim_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.UploadQueue_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.UploadQueueHelpme_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.ShowDetailEClaim_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.Fullimage_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.List_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.ChangePass_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.DetailInsurance_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.MyPdfViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.PriceOil_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.CreatePin_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.Pin_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        
        <activity
            android:name="teeza.application.helpme.ChangePin_Activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>

        
    </application>

</manifest>